body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn {
  padding-right: 20px;
}
.play {
  width: 40px;
  border-radius: 100%;
}
.btn-outline-secondary {
  float: right;
}
.jumbotron-one {
  border-radius: 2%;
  background-color: whitesmoke;
}
.card {
  border-radius: 5%;
  box-shadow: 5px 10px 10px 5px #f1ecec;
  font-size: smaller;
}
.box {
  border-radius: 5%;
  max-width: 100%;
}
.jumbotron {
  font-size:xx-small;
  background-color: whitesmoke;
}
.text-muted {
  font-size: 12px;
  padding-right: 10px;
}
.blog {
  font-size: 11px;
  word-spacing: 5px;
}
.img {
  width: 20px;
  padding-right: 5px;
}
.c {
  width: 100px;
}